<div class="home-page-body">
  <div class="center hero-unit">
    <h1 class="home-h1">CRICKET</h1>

    <h2 style="color: white">
    	Basic cricket simulation stuff!
    </h2>

<% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>   <%= link_to "Sign in!", signin_path, class: "btn btn-large" %>
<% end %>
  </div>
</div>