<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
          <%= @user.name %>
      </h1>
      <p> <%= gravatar_for @user %></p>
    </section>
    <section>
      <h2>Teams</h2>
      <ul> 
        <% @user.teams.each do |team| %>
        <li><%= link_to "#{team.name}", [@user, team] %> </li>
        <% end %>
      </ul>
      <% if current_user?(@user) %>
      <%= link_to "New Team", new_user_team_path(current_user), class: "btn" %>
      <% end %>
    </section>
  </aside>
  <div class="span8">
  </div>
</div>