<% provide(:title, 'Players') %>
<h1>Players</h1>

<% @players.each do |player| %>

<ul class="players">
  <li><%= link_to "#{player_name(player)}, #{age(player.dob)}", player %> </li>
</ul>

<% end %>
