<% provide(:title, 'Players') %>
<h1>Players</h1>

<div>
  <% if signed_in? && admin? %>
    <button class="btn"><%= link_to "Download CSV", players_path(format: "csv") %></button>
  <% end %>
</div>
<p></p>
<% @players.each do |player| %>

<ul class="players">
  <li><%= link_to "#{player_name(player)}, #{age(player.dob)}", player %> </li>
</ul>

<% end %>


